<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div class="desc">
                    	<div class="item">
                        	<div class="title">© 2005-2017 上海商创网络科技有限公司。保留所有权利。</div>
                            <p>谢您选择 ECShop 网上商店管理系统。希望我们的努力能为您提供一个高效快速和强大的电子商务解决方案。 ECShop 英文全称为 e-Commerce Shop，中文全称为 ECShop 网上商店管理系统，简称 ECShop。</p>
                            <p>上海商创网络科技有限公司为 ECShop 产品的开发商，依法独立拥有 ECShop 产品著作权(版权登记号：<br />2008SRBJ0394)。ECShop 官方网站为 http://www.ECShop.com。</p>
                            <p>ECShop 著作权已在中华人民共和国国家版权局注册，著作权受到法律和国际公约保护。使用者：无论个人或组织、盈利与否、用途如何（包括以学习和研究为目的），均需仔细阅读本协议，在理解、同意、并遵守本协议的全部条款后，方可开始使用 ECShop 软件。</p>
                            <p>本授权协议适用且仅适用于 ECShop 2.x.x 版本，上海商创网络科技有限公司拥有对本授权协议的最终解释权。</p>
                        </div>
                        <div class="item">
                        	<div class="title">I. 协议许可的权利</div>
                            <p>1. 您可以在完全遵守本最终用户授权协议的基础上，将本软件应用于非商业用途(包括个人用户：不具备法人资格的自然人，以个人名义从事电子商务开设网店的；非盈利性用途：从事非盈利活动的商业机构及非盈利性组织，将 ECShop 产品用且仅用于产品演示、展示及发布，而并不是用来买卖及盈利的运营活动的)</p>
                            <p>2. 您可以在协议规定的约束和限制范围内修改 ECShop 源代码(如果被提供的话)或界面风格以适应您的网站要求。</p>
                            <p>3. 您拥有使用本软件构建的商店中全部会员资料、文章、商品及相关信息的所有权，并独立承担与其内容的相关法律义务。</p>
                            <p>4. 获得商业授权之后，您可以将本软件应用于商业用途，同时依据所购买的授权类型中确定的技术支持期限、技术支持方式和技术支持内容，自授权时刻起，在技术支持期限内拥有通过指定的方式获得指定范围内的技术支持服务。</p>
                        </div>
                        <div class="item">
                        	<div class="title">II. 协议规定的约束和限制</div>
                            <p>1. 未获商业授权之前，不得将本软件用于商业用途(包括但不限于企业法人经营的企业网站、经营性网站、以盈利为目或实现盈利的网站)。</p>
                            <p>2. 不得对本软件或与之关联的商业授权进行出租、出售、抵押或发放子许可证。</p>
                        </div>
                    </div>
 <div class="tfoot">
                    	<div class="tfoot_left">
                        	<input type="checkbox" id="read" name="" />
                            <label for="read">我已仔细阅读，并同意上述条款中的所有内容</label>
                        </div>
                        <div class="tfoot_right">
                        	<a href="#" class="btn btn-curr">下一步></a>
                        </div>
                    </div>